<h1>Interface#user</h1>
<div style="margin: auto; width: 800px;  border-color: black; height: 100%;" >
	
	<div style="background-color: cyan; width: 40%; height: 100%; float: left; padding: 10px;">
		<%= link_to "link!", 'admin' %>
	</div>
	
	<div style="height: 100%;  background-color: red;">
	
	</div>

</div>
